.logs-container {
    width: 80%;
    height: 100%;
    margin-left: auto !important;
    margin-right: auto !important;

}

.table-container{ 
    height: 100%;
}

.MuiPaper-root {
    height: 100%;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
