.align-horizontal {
    padding-bottom: 10px;
}


.start-button {
    width: 49%;
    margin: 500px;
    margin-right: 2% !important;
}

.stop-button {
    width: 49%;
}

.reroll-button {
    width: 100%;
    padding: 10%;
}

.padding {
    padding: 50px;
}

.cbutton {
    background-color: whitesmoke !important;
    color: black !important;
}

.attack-selection {
    color: whitesmoke !important;
}

.MuiSelect-root {
    background-color: whitesmoke;
}