.form-wrapper{
    padding: 50px;
    flex: 1 1;
}

.attack-status {
    padding-top: 50px;
    width: 100%;
    height: 100%;
}

.form {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.upper {
    height: 100%;
    display: flex;
    flex-flow: column;
}

.lmfao {
    width:100%;
    padding-bottom: 10px;
}

.overview {
    text-align: center;
}

.attack-selection {
    width: 100%;
    margin-bottom: 100px;
}

.start-button {
    width: 50%;
    margin: 500px;
}

.stop-button {
    width: 50%;
}

.reroll-button {
    width: 100%;
    padding: 10%;
}