.network-status-wrapper {
    display: flex;
    align-items: center;
    padding: 5px;
    height: 100%;
}

.network-img{
    flex: 2 1 0px;
    padding: 3%;
}

.status{
    flex: 1 1 0px;
    padding: 5px;
}

.some-image {
    width: 100%;
}