.controlpanel-wrapper {
    background-color: purple;
    height: 100vh;
    width: 100vw;
}

.controlpanel-grid-layout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: 100%;
}

.controls-wrapper {
    background-color: blue;
    height: 100%;
    width: 100%;
}

.logs {
    background-color: red;
    height: 93%;
    width: 96%;
    grid-row-start: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    align-self: center;
    justify-self: center;
    overflow-y: scroll;
}

.controls {
    background-color: green;
    height: 93%;
    width: 96%;
    align-self: center;
    justify-self: center;
}

.network-status {
    background-color: blueviolet;
    height: 93%;
    width: 96%;
    align-self: center;
    justify-self: center;
}

.card {
    border-radius: 3px;
}